---
layout: narrow
title: Shark Attack
styles: style.css
scripts:
  - //ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js
  - //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js
  - script.js
---

<div ng-app="sharkAttackApp" ng-controller="SharkAttackCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">How to play</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <p>Move the raft left and right with the left and right arrow keys.</p>
          <p>Try to reach the safety of the beach on the island while avoiding the sharks. 
          Your raft can take a couple of hits before it goes down.</p>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li ng-repeat="level in levels" ng-class="{ active: currentLevelIndex===$index }">
              {{ level.text }}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sharkattack-container" tabindex="0"
      ng-keydown="keyevent($event)"
      ng-keyup="keyevent($event)">

    <div class="alert-container">
      <div class="alert alert-info text-center" ng-show="showTutorialAlert">
        <p>Try to reach the sandy beach while avoiding the sharks! 
        Use the <em>left</em> and <em>right</em> arrow keys to control the raft.</p>
        <p>Press <em>Enter</em> or click the button to start.</p>
        <p><button ng-click="startGame()" class="btn btn-default default-choice">Start game</button></p>
      </div>
    </div>

    <div class="alert-container">
      <div class="alert alert-success text-center" ng-show="showLevelCompletedAlert">
        <p><strong>Well done!</strong> You reached the safety of the beach. 
        Try the next level which has more sharks.</p>
        <p><button ng-click="restartLevel()" class="btn btn-default">Replay level</button>
        <button ng-click="nextLevel()" class="btn btn-default default-choice">Next level</button></p>
      </div>
    </div>
  
    <div class="alert-container">
      <div class="alert alert-success text-center" ng-show="showGameCompletedAlert">
        <p><strong>Congratulations!</strong> You've beaten all the levels!</p>
        <p><button ng-click="location.reload()" class="btn btn-default">Restart game</button>
        <button ng-click="restartLevel()" class="btn btn-default default-choice">Replay level</button></p>
      </div>
    </div>
  
    <div class="alert-container">
      <div class="alert alert-danger text-center" ng-show="showLevelFailedAlert">
        <p><strong>Oh no!</strong> You {{ methodOfLastDeath }}!</p>
        <p><button ng-click="restartLevel()" class="btn btn-default default-choice">Restart level</button></p>
      </div>
    </div>
  
    <div class="shark" ng-repeat="shark in sharks"
        ng-style="shark.getStyle()"
        ng-class="shark.getClasses()"></div>
  
    <div class="raft"
        ng-style="raft.getStyle()"
        ng-class="raft.getClasses()"></div>
  </div>

</div>
