// Fixes overflow:hidden; not working on tables in Firefox
.sharkattack-container-container {
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin: auto;
}

.sharkattack-container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-image: url('images/frame.gif');
  display: table;
}

.sharkattack-container .alert-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sharkattack-container .alert {
  display: inline-block;
  width: 80%;
  position: relative;
  z-index: 100;
}

.health-bar {
  position: absolute;
  left: 0;
  top: 378px;
  height: 16px;
  width: 394px;
  overflow: hidden;
  text-align: right;
  z-index: 50;

  .heart {
    background-image: url('images/heart.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 2px;
    z-index: 50;
  }
}

.raft {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  background-image: url('images/raft.gif');
  z-index: 20;
}

@for $i from 0 through 2 {
  .raft.frame#{$i} {
    background-position: $i*-20px;
  }
}

@keyframes time-up {
  0%  {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes time-up {
  0%  {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

.raft.destroyed {
  animation: time-up 2s;
  -webkit-animation: time-up 2s;
  opacity: 0;
}

.shark {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.shark.right {
  background-image: url('images/shark-right.gif');
}

.shark.left {
  background-image: url('images/shark-left.gif');
}

@for $i from 0 through 7 {
  .shark.frame#{$i} {
    background-position: $i*-20px;
  }
}
