.memory-card {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 2px;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  background-position: 10000px 10000px;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.memory-card.faceup {
  background-position: 0 0;
}

.memory-grid {
  border: 1px solid black;
}
