#shufflegrid {
    border: 1px black solid;
    position: absolute;
    height: 606px;
    width: 606px;
}

.tile {
    height: 200px;
    width: 200px;
    border: 1px black solid;
    position: absolute;
}
