#shufflegrid {
    border-collapse: collapse;
}

img {
    height: 200px;
    width: 200px;
}

.cell {
    height: 200px;
    width: 200px;
}

.tile {
    height: 200px;
    width: 200px;
    border: 1px black solid;
}

.correct {
    background-color: green;
}
