.ws-grid { }

.ws-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-family: sans-serif;

  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ws-cell:hover {
  background: radial-gradient(rgba(255,0,0,0.7) 30%, transparent 70%);
}

.ws-cell.selected {
  background: radial-gradient(rgba(255,0,0,0.8) 40%, transparent 70%);
}

.ws-cell.selected:hover {
  background: radial-gradient(rgba(255,0,0,0.85) 40%, transparent 70%);
}

.ws-cell.solved {
  background: radial-gradient(rgba(0,255,0,0.8) 40%, transparent 70%);
}

.ws-cell.solved.selected {
  background: radial-gradient(rgba(255,80,0,0.8) 40%, transparent 70%);
}
