.sharkattack-container {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.shark {
  width: 20px;
  height: 20px;
  background-image: url('images/shark-right.gif');
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}

@for $i from 0 through 7 {
  .shark.frame#{$i} {
    background-position: $i*-20px;
  }
}
