<!DOCTYPE html>
<html ng-app="wordsearchApp">
  <head>
    <title>Professor P Wordsearch Game</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="bundle.js"></script>
  </head>
  <body>
  <div ng-controller="WordsearchCtrl">
    <div id="container">
      <div class="ws-grid" ng-class='colorClass'>
        <div ng-repeat="row in grid.cells">
          <div class="ws-cell" ng-repeat="cell in row"
               ng-click="cellClicked(cell)"
               ng-mouseenter="updatePath(cell)"
               ng-mouseleave="selectedCell && clearPath()"
               ng-class="{selected: cell.isSelected, path: cell.onPath, 'correct-path': cell.onCorrectPath}">
            <div class="solved" ng-class="colorClass" 
                 ng-repeat="colorClass in cell.solvedColorClasses track by $index"></div>
            {{cell.letter}}
          </div>
        </div>
      </div>
    </div>
    <div id="wordlist">
      <div class="word" ng-repeat="word in words">{{word}}</div>
      <div class="word solved" ng-class="word.colorClass" ng-repeat="word in foundWords">{{word.word}}</div>
    </div>
  </div>
  </body>
</html>
