$card-size: 100px;
$card-spacing: 4px;

// A card which is hidden
.memory-card {
  display: inline-block;
  position: relative;
  width: $card-size+2px;
  height: $card-size+2px;
  border-radius: 2px;
  border: 1px solid black;
  z-index: 2;
  margin-left: $card-spacing;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
  .front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: $card-size;
    height: $card-size;
  }

  .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  .back {
    // For some reason, specifying a 0 degree transform fixes an off by one
    // pixel bug in Firefox
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    background-image: url(images/back.gif);
    z-index: 2;
  }
}

// A card which is clickable
.memory-card:not(.faceup):hover {
  border: 1px solid red;
  cursor: pointer;
}

// A card which is being shown
.memory-card.faceup {
  transition: 0.6s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.memory-grid {
  display: inline-block;
  border: 1px solid black;
  padding-top: $card-spacing;
}

.memory-grid>div {
  height: 102px; 
  margin-bottom: $card-spacing;
  margin-right: $card-spacing;
}

// This fails to fix the problem of the dropdown only sometimes getting mouse
// focus when over faceup cards, I don't know how to fix that
#level-select-dropdown, #level-select-dropdown * {
  z-index: 100;
}

.alert {
  position: absolute;
  left: 20%;
  top: 80px;;
  width: 60%;
  z-index: 50;
}

#memory-game-container {
  position: relative;
}

.no-transforms .memory-card {
  &:not(.faceup) .front {
    display: none;
  }
  &.faceup .back {
    display: none;
  }
}
