.memory-card {
  display: table-cell;
  border-radius: 2px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative; }
  .memory-card .front, .memory-card .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100px;
    height: 100px; }
  .memory-card .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }
  .memory-card .back {
    background-image: url(images/back.gif);
    z-index: 2; }

.memory-card:not(.faceup):hover {
  border: 1px solid red;
  cursor: pointer; }

.memory-card.faceup {
  transition: 0.6s;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.memory-grid {
  display: inline-block;
  border: 1px solid black; }

.memory-grid > div {
  margin-top: 4px;
  margin-bottom: 4px;
  border-spacing: 4px 0px;
  perspective: 1000; }
