$medium-blue: rgb(11, 175, 255);
$selected-medium-blue: rgb(21, 185, 255);

nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    position: relative;
    text-align: center;

    background: $medium-blue;
    &:hover {
      background: $selected-medium-blue;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 10px 25px 10px 25px;
    }

    a.current-page {
      text-decoration: underline;
    }

    ul {
      position: absolute;;
      transition: opacity 0.2s, visibility 0s linear 0.2s;
      visibility: hidden;
      opacity: 0;

      li {
        width: 100%;

        a {
          white-space: nowrap;
        }
      }
    }

    &:hover ul {
      transition: opacity 0.4s, visibility 0s linear 0s;
      visibility: visible;
      opacity: 1;
      z-index: 10;
    }
  }
}

// Add a small indicator to menu items with children
// TODO: only for desktop and make it a proper arrow
nav > ul > li > a:first-child:nth-last-child(2):after {
  content: "+";
  position: absolute;
}
