@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';

@import 'menu';

$very-light-blue: rgb(204, 255, 255);
$light-blue: rgb(102, 204, 255);
$medium-blue: rgb(11, 175, 255);
$black: rgb(0, 0, 0);
$grey: rgb(150, 150, 150);

$body-background-color: $very-light-blue;
$background-color: $light-blue;

$text: $black;
$faint-text: $grey;

html {
  overflow-y: scroll;
}

body {
  background-color: $body-background-color;
  font-family: cursive;
  font-size: 16px;
}

div.container {
  @include outer-container;
}

header {
  background-color: $light-blue;
  @include clearfix;
}

article {
  max-width: 700px;
  min-width: 350px;
  color: $text;
}

footer {
  font-size: 0.8rem;
  color: $faint-text;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
