body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.navbar {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.browsehappy {
    margin-bottom: 20px;
    background: #ccc;
    color: #000;
    padding: 8px;
}
