---
layout: narrow
title: Quiz
screenshot: /images/game-screenshots/quiz.png
styles: style.css
scripts: 
  - //ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js
  - //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js
  - script.js
---

<div ng-app="quizGame" ng-controller="QuizCtrl" class="row">

  <!--[if lt IE 9]>
    <p class="browsehappy">Oh no! This game won't work in your browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">How to play</h2>
      </div>
      <div class="panel-body">
        <p>This quiz will test your knowledge of the Professor P books. 
           Answer {{ numQuestions }} questions correctly before the time runs out.</p>
        <p>There is a {{ penalty }} second penalty for every incorrect answer.</p>

        <div class="progress">
          <div class="progress-bar" ng-style="{ width: 100*numAnswered/numQuestions+'%' }"></div>
          <span>{{ numAnswered }}/{{ numQuestions }}</span>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-danger" ng-style="{ width: 100*secondsRemaining/totalSeconds+'%' }"></div>
          <span ng-class="{ 'time-up': secondsRemaining===0 }">{{ formatTime(secondsRemaining) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          {{ currentQuestion.text }}
        </h2>
      </div>
      <div class="list-group">
        <a ng-repeat="answer in currentQuestion.answers" 
           href="javascript:void(0)" 
           class="list-group-item"
           ng-class="{ correct: answer.isCorrect, 
                       selected: answer.isSelected,
                       disabled: answer.isDisabled }"
           ng-click="submitAnswer(answer)">
          {{ answer.text }}
        </a>
      </div>
    </div>
  </div>

</div>
