---
title: Quiz
layout: game
styles: style.css
scripts: 
  - //ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js
  - //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js
  - questions.js
  - script.js
---

<div ng-app="quizGame" ng-controller="QuizCtrl" class="row">

  <div class="col-sm-2 col-md-3">
    <h2>How to play</h2>
    {{ formatTime(secondsRemaining) }}
  </div>

  <div class="col-sm-8 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          {{ currentQuestion.text }}
        </h2>
      </div>
      <div class="list-group">
        <a ng-repeat="answer in currentQuestion.answers" 
           href="javascript:void(0)" 
           class="list-group-item"
           ng-class="{correct: answer.isCorrect, selected: answer.isSelected}"
           ng-click="submitAnswer(answer)">
          {{ answer.text }}
        </a>
      </div>
    </div>
  </div>


<!--
  <% for question in JSON.parse(@include("./questions.json.cson")): %>

    <div class="question col-sm-4 hidden">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= question.text %></h2>
        </div>
        <div class="list-group">
          <% for answer in question.answers: %>
            <a href='javascript:void(0)' class="list-group-item answer<%= ' correct' if answer is question.answers[0] %>">
              <%= answer %>
            </a>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
-->

</div>
