.list-group > a.selected.correct {
  color: lime;
}

.list-group > a.disabled {
  &:hover, &:focus {
    background-color: transparent;
    cursor: not-allowed;
  }
}

.list-group > a.selected:not(.correct) {
  text-decoration: line-through;
  color: red;

  &:hover, &:focus {
    background-color: transparent;
    cursor: not-allowed;
  }
}
