body {
  padding-top: 10px;
  padding-bottom: 30px;
  overflow-y: scroll;
}

// Title image border
body > div > a > img {
  border-radius: 4px;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.browsehappy {
    margin-bottom: 20px;
    background: #ccc;
    color: #000;
    padding: 8px;
}
